<app-header headernam="Forgot Password" url="/"></app-header>
<ion-content class="ion-text-center">


  <ion-row class="input-field">

    <ion-col size="12">
      <ion-title class="text-start enter-otp">Forgot Password ?</ion-title>
      <!-- <p>We've sent an OTP to your mobile number.</p> -->
    </ion-col>
    <ion-col size="12">
      <div class="forgot-box">
        <ion-icon class="person-icon" name="person"></ion-icon>
        <mat-radio-group aria-label="Select an option" (change)="changeUser($event)"
          class="d-flex justify-content-center pt-4 pb-3 user-selection">
          <mat-radio-button [value]="user.id" *ngFor="let user of users">{{user.userName}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </ion-col>
    <!--+91-->
    <ion-col size="3">
      <div class="countrycode">
        <mat-label class="countrycodetext">
          +91
        </mat-label>
      </div>
    </ion-col>
    <!--Enter Mobile Number-->
    <ion-col size="9" style="height: 0px;">
      <div [formGroup]="credentialsForm">
        <mat-form-field appearance="outline">
          <mat-label class="inputtextfield">Mobile Number</mat-label>
          <input matInput [formControl]="credentialsForm.controls['mobile']" maxlength="10" type="tel"
            class="inputtextfield" required>
          <mat-hint>
            <div *ngIf="!credentialsForm.controls.mobile.valid && credentialsForm.controls.mobile.dirty" class="error">
              Please enter a valid mobile number.
            </div>
          </mat-hint>
        </mat-form-field>
      </div>
    </ion-col>
  </ion-row>
  <div class='btn-box'>
    <button (click)="sendOTP(credentialsForm.value)" routerLinkActive="router-link-active"
      class="common-btn">Submit</button>
  </div>
</ion-content>