<app-header headernam="Change Password" url="/"></app-header>

<ion-content class="ion-text-center">
  <form [formGroup]="changedPasswordForm" (ngSubmit)="changePassword()">
    <div class="input-field">
      <!--Enter Password-->
      <div class="input-field-text">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Password</mat-label>
          <input matInput [type]="getType()" formControlName="password" name="password">
          <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button aria-label="Clear"
            (click)="toggleTextPassword($event)">
            <mat-icon>
              <ion-icon [name]="isActiveToggleTextPassword ? 'eye-off' :'eye'"></ion-icon>
            </mat-icon>
          </button>
          <!-- *ngIf="changedPasswordForm.controls['password'].hasError('required')" -->
          <mat-error *ngIf="checkError('password', 'required')">Password is required
          </mat-error>
          <mat-error *ngIf="checkError('password', 'minlength')">It must be at least 6
            characters!
          </mat-error>
        </mat-form-field>
      </div>
      <!--Enter Confirm Password-->
      <div class="input-field-text">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="getTypeNew()" formControlName="confirmPassword" name="confirmPassword">
          <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button aria-label="Clear"
            (click)="toggleTextPassword1($event)">
            <mat-icon>
              <ion-icon [name]="isActiveToggleTextPassword1 ? 'eye-off' :'eye'"></ion-icon>
            </mat-icon>
          </button>
          <mat-error *ngIf="checkError('confirmPassword', 'required')">confirm password is
            required
          </mat-error>
          <mat-error *ngIf="checkError('confirmPassword', 'minlength')">It must be at least 6
            characters!
          </mat-error>
          <mat-error *ngIf="checkError('confirmPassword', 'mismatch')">Password does not match</mat-error>

        </mat-form-field>
      </div>
      <!-- <button mat-stroked-button class="buttons" (click)="changePassword()">Change Password</button> -->
    </div>
    <div class='btn-box'>
      <button class="common-btn">Change
        Password</button>
    </div>
  </form>
</ion-content>