<!-- <ion-header>
    <ion-toolbar color="primary" class="toolbar-text">
        <ion-buttons slot="start" style="margin-left: 3%" (click)="goBack()">
            <ion-icon name="close"  style="padding-top: 3%;color: var(--ion-color-close);width: 24px;height: 24px;padding: 16px!important" ></ion-icon>
        </ion-buttons>
        <ion-title class="toolbar-title">Change Password</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-header >
    <ion-toolbar color="color_d" >
    <ion-row>
      <ion-col>
        <div>
          <ion-buttons slot="start" style="margin-left: 3%">
            <i class="material-icons icon"  (click)="goBack()">arrow_back_ios</i>
             </ion-buttons>
        </div>
      </ion-col>
      <ion-col style="text-align: start;margin-left: -30px!important;">
        <div>
          <ion-title class="TITLETOOLBAR" style="margin-left: -40px!important;">Change Password</ion-title>
        </div>
      </ion-col>
      <ion-col style="text-align: end;margin-right: 10px;">
        <img src="assets/channelPartner_Icons/vjd_Logos/vj_logo.svg" class='srcIMGLOGO'style="text-align: right;width: 37%!important;">
      </ion-col>
    </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-text-center">
    <div class="input-field">
        <!--Enter Password-->
        <div class="input-field-text">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Password</mat-label>
                <input matInput [type]="getType()" [(ngModel)]="this.loginifo.password" name="password">
                <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button aria-label="Clear" (click)="toggleTextPassword()">
                    <mat-icon><ion-icon [name]="isActiveToggleTextPassword ? 'eye-off' :'eye'" ></ion-icon></mat-icon>
                </button>
            </mat-form-field>
        </div>
        <!--Enter Confirm Password-->
        <div class="input-field-text">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="getTypeNew()" [(ngModel)]="this.loginifo.confirmpassword" name="password">
                <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button aria-label="Clear" (click)="toggleTextPassword1()">
                    <mat-icon><ion-icon [name]="isActiveToggleTextPassword1 ? 'eye-off' :'eye'" ></ion-icon></mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button mat-stroked-button  class="buttons" (click)="changePassword()">Change Password</button>
      </div>
</ion-content>
