.main{
    margin-top: 50%
}
.buttons{
    margin-top: 10%;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    background-color: #F5A22C;
    color: var(--ion-color-primary);
    font-size:18px;
    font-family: "Metropolis Medium";
}
.input-field{
    margin: 5%;
    margin-top: 50%;
}
.input-field-text{
    color: var(--ion-color-primary);
    font-family: "Metropolis Light";
    font-size: 16px;
    text-align: start;
}
.inputtextfield
{
    padding: 2px;
    color: #000000;
    font-family: "Metropolis Light";
    font-size: 16px;
}
.toolbar-text {
    color: var(--ion-color-secondary);
    font-family: "Metropolis Medium";
    font-size: medium;
    background-color: #652D90;

}
.error{
    color:red;
    text-align: start;
    font-family: "Metropolis Light";
    font-size: 11px;
}
