<app-header headernam="Change Password" url="/"></app-header>

<ion-content class="ion-text-center">
  <div class="input-field">
    <!--Enter Password-->
    <div class="input-field-text">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput [type]="getType()" [(ngModel)]="this.loginifo.password" name="password">
        <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button aria-label="Clear"
          (click)="toggleTextPassword()">
          <mat-icon>
            <ion-icon [name]="isActiveToggleTextPassword ? 'eye-off' :'eye'"></ion-icon>
          </mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--Enter Confirm Password-->
    <div class="input-field-text">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="getTypeNew()" [(ngModel)]="this.loginifo.confirmpassword" name="password">
        <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button aria-label="Clear"
          (click)="toggleTextPassword1()">
          <mat-icon>
            <ion-icon [name]="isActiveToggleTextPassword1 ? 'eye-off' :'eye'"></ion-icon>
          </mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- <button mat-stroked-button class="buttons" (click)="changePassword()">Change Password</button> -->
  </div>
  <div class='btn-box'>
    <button (click)="changePassword()" routerLinkActive="router-link-active" class="common-btn">Change
      Password</button>
  </div>
</ion-content>