<ion-header>
  <ion-toolbar color="color_d" >
  <ion-row>
    <ion-col>
      <div>
        <ion-buttons slot="start" style="margin-left: 3%">
          <i class="material-icons icon"  (click)="goback()">arrow_back_ios</i>
           </ion-buttons>
      </div>
    </ion-col>
    <ion-col style="text-align: start;margin-left: -30px!important;">
      <div>
        <ion-title class="TITLETOOLBAR" style="margin-left: -40px!important;">Registration</ion-title>
      </div>
    </ion-col>
    <ion-col style="text-align: end;margin-right: 10px;">
      <img src="assets/channelPartner_Icons/vjd_Logos/vj_logo.svg" class='srcIMGLOGO'style="text-align: right;width: 37%!important;">
    </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content class="background-color" >

  <!--Header Of Presonal Details-->
  <div class="personal-details">
    <ion-label>Personal Details</ion-label>
  </div>

  <!--First Name-->
      <!--Two mat-form-field in one line-->
      <ion-row style="margin-top: 20px">
        <ion-col size="3" style="margin-top: 3px!important;">
          <mat-form-field appearance="outline" style="width:100%;margin-left: 5px">
            <mat-label class="inputtextfield">Mr/Mrs</mat-label>
            <mat-select class="inputtextfield" >
              <mat-option *ngFor="let nameprefix of newRegistration.person_name_prefix let i= index" [value]="nameprefix.name_prefix_id" (click)="getNamePrefixvalue(i)">
                {{nameprefix.name_prefix}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col size="9" [formGroup]="credentialsForm" style="margin-top: 2px!important;">
          <mat-form-field appearance="outline" style="width:100%;padding-right: 5px" class="inputtextfield">
            <mat-label class="inputtextfield" >First Name</mat-label>
            <input [formControl]="credentialsForm.controls['firstName']"   matInput type="text" class="inputtextfield" [(ngModel)]="newRegistration.first_name" required>
            <mat-hint>
              <div *ngIf="!credentialsForm.controls.firstName.valid &&
        credentialsForm.controls.firstName.dirty"
                   class="error">
                Please enter a valid firstName!.
              </div>
            </mat-hint>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <!--Middle Name-->
      <div [formGroup]="credentialsForm">
        <mat-form-field appearance="outline" style="width: 100%;padding-left: 10px;padding-right: 10px">
          <mat-label class="inputtextfield" >Middle Name</mat-label>
          <input  [formControl]="credentialsForm.controls['middlename']" matInput type="text" class="inputtextfield" [(ngModel)]="newRegistration.middle_name" required>
          <mat-hint>
            <div *ngIf="!credentialsForm.controls.middlename.valid &&
        credentialsForm.controls.middlename.dirty"
                 class="error">
              Please enter a valid middlename!.
            </div>
          </mat-hint>
        </mat-form-field>
      </div>

      <!--Last Name-->
      <div [formGroup]="credentialsForm">
        <mat-form-field appearance="outline" style="width: 100%;padding-left: 10px;padding-right: 10px">
          <mat-label class="inputtextfield">Last Name</mat-label>
          <input [formControl]="credentialsForm.controls['lastname']"  matInput type="text" class="inputtextfield"  [(ngModel)]="newRegistration.last_name" required>
          <mat-hint>
            <div *ngIf="!credentialsForm.controls.lastname.valid &&
        credentialsForm.controls.lastname.dirty"
                 class="error">
              Please enter a valid lastname!.
            </div>
          </mat-hint>
        </mat-form-field>
      </div>

      <!--Enter Mobile Number With Country Code-->
  <ion-row>
    <ion-col  size="3" class="ion-text-center">
      <div class="countrycode"  style="width: 100%;margin-right: 10px">
        <mat-label class="countrycodetext">
          +91
        </mat-label>
      </div>
    </ion-col>
    <ion-col size="9">


      <!--Enter Mobile Number-->
      <div [formGroup]="credentialsForm">
        <mat-form-field appearance="outline" style="width: 100%;padding-right: 5px">
          <mat-label class="inputtextfield">Mobile Number</mat-label>
          <input matInput [readonly]="read" [formControl]="credentialsForm.controls['mobile']"  type="number" class="inputtextfield" required>
          <mat-hint>
            <div *ngIf="!credentialsForm.controls.mobile.valid && credentialsForm.controls.mobile.dirty"
                 class="error">
              Please enter a valid mobile number.
            </div>
          </mat-hint>
        </mat-form-field>
        </div>
    </ion-col>
  </ion-row>
  <div  *ngIf="!alive" style="align-content: center!important;alignment: center!important;text-align: center!important;justify-content: center!important;margin-top: 10px!important;">
    <button mat-stroked-button class="Resendbuttons"[disabled]="!credentialsForm.controls.mobile.valid"  (click)="click(credentialsForm.value) " >Verify</button>
  </div>
  <div *ngIf="!hideMe">
  <div *ngIf="alive">
    <div>
    <mat-form-field appearance="outline" style="width: 100%;padding-left: 10px;padding-right: 10px">
      <mat-label class="newusertext" >OTP</mat-label>
      <input matInput name="otptext" [(ngModel)]="loginifo.confirmotp" type="text" class="inputtextfield">
    </mat-form-field>
      <div class="ion-text-center" >
    <button mat-stroked-button class="registerbutton" (click)="verifyConfirmOtp(credentialsForm.value)" style="margin-bottom: 10px!important;" required>Submit OTP</button>
      </div>
  </div>
  <div>
    <div id="otpMessage" class="inputtextfield" style="margin-left: 20px!important;margin-top: 5px!important;">
      <mat-label class="inputtextfield">In case you didn't received an OTP in 7 seconds retry here.</mat-label>
    </div>

    <!--Register Button-->
    <div class="ion-text-center" style="margin-top: 10px!important;">
    <button mat-stroked-button class="Resendbuttons" [disabled]="disabled"  [style.background-color]="this.color1 === true ? '#a5a5a5' : '#F5A22C'"  (click)="ResendOtp()" >Resend OTP</button>
    </div>
  </div>
  </div>
  </div>

      <!--Email ID-->
      <div [formGroup]="credentialsForm">
        <mat-form-field appearance="outline" style="width: 100%;padding-left: 10px;padding-right: 10px;margin-top: 5px!important;">
          <mat-label class="inputtextfield">Email Address</mat-label>
          <input matInput [formControl]="credentialsForm.controls['email']" [(ngModel)]="newRegistration.email"type="email" class="inputtextfield" required>
          <mat-hint>
            <div *ngIf="!credentialsForm.controls.email.valid && credentialsForm.controls.email.dirty"
                 class="error">
              Please enter a valid Email!.
            </div>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="input-field">
        <!--Enter Password-->
        <div class="inputtextfield" style="margin-left: 10px;margin-right: 10px">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label class="inputtextfield">Password</mat-label>
            <input matInput [type]="getType()" [(ngModel)]="newRegistration.password" name="password" class="inputtextfield" required>
            <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button aria-label="Clear" (click)="toggleTextPassword()">
              <mat-icon><ion-icon [name]="isActiveToggleTextPassword ? 'eye-off' :'eye'" ></ion-icon></mat-icon>
            </button>
          </mat-form-field>
        </div>
</div>

  <mat-divider class="divider"></mat-divider>
  <!--Expand Panel for Business Details-->
  <mat-expansion-panel style="padding-top: 10px!important;box-shadow:none!important;padding-bottom: 10px!important;margin-bottom: 5px!important;margin-top: 5px!important">

      <mat-expansion-panel-header>
        <mat-panel-title class="mat-panel-title"  style="margin-top: 30px;margin-bottom: 30px">
          Business  Details
        </mat-panel-title>
      </mat-expansion-panel-header>



      <!--Radio Button for Organisation and Person-->
    <div style="margin-bottom: 20px">
      <mat-radio-group aria-label="Select an option"  >
        <mat-radio-button value="1" (change)="changeOrg(1)" style="margin-right: 20px" class="newusertext" checked="true" >Organisation</mat-radio-button>
        <mat-radio-button value="2"  (change)="changeOrg(2)" style="margin-left: 20px" class="newusertext" >Person</mat-radio-button>
      </mat-radio-group>
    </div>


      <!--Company Name-->
      <div  ><!--[hidden]="relativeDiv"-->
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label class="inputtextfield" required>Channel Partner Name</mat-label>
          <input matInput  type="text" class="inputtextfield" [(ngModel)]="newRegistration.name" required>
        </mat-form-field>
      </div>

      <!--Billing Name-->
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label class="inputtextfield" required>Billing Name</mat-label>
          <input matInput  type="text" class="inputtextfield" [(ngModel)]="newRegistration.billing_name" required>
        </mat-form-field>
      </div>


      <!--Rera Number-->
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label class="inputtextfield" required>Rera Number</mat-label>
          <input matInput  type="text" class="inputtextfield"  [(ngModel)]="newRegistration.rera_no">
        </mat-form-field>
      </div>

    <!--PAN Number-->
    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="inputtextfield" required>PAN </mat-label>
        <input style="text-transform: uppercase!important;"  matInput [formControl]="credentialsForm.controls['pan']" [(ngModel)]="newRegistration.pan_no" type="text" class="inputtextfieldPANGST" required>
        <mat-hint>
          <div *ngIf="!credentialsForm.controls.pan.valid && credentialsForm.controls.pan.dirty"
               class="error">
            Please enter a valid PAN!.
          </div>
        </mat-hint>
      </mat-form-field>
    </div>

      <!--GST Number-->
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label class="inputtextfield" required>GST Number</mat-label>
          <input style="text-transform: uppercase!important;" matInput [formControl]="credentialsForm.controls['gst']" [(ngModel)]="newRegistration.gst_no"type="text" class="inputtextfieldPANGST" (input)="gstNo()">
          <mat-hint>
            <div *ngIf="!credentialsForm.controls.gst.valid && credentialsForm.controls.gst.dirty"
                 class="error">
              Please enter a valid GST!.
            </div>
          </mat-hint>
        </mat-form-field>
      </div>



    </mat-expansion-panel>
  <mat-divider></mat-divider>

  <!--Expand Panel for Bank Details-->
  <mat-expansion-panel style="padding-top: 10px!important;box-shadow:none!important;padding-bottom: 10px!important;margin-bottom: 5px!important;margin-top: 5px!important">

    <mat-expansion-panel-header>
      <mat-panel-title class="mat-panel-title"  style="margin-top: 30px;margin-bottom: 30px">
        Bank  Details
      </mat-panel-title>
    </mat-expansion-panel-header>


    <!--Bank Name-->
    <div>
      <mat-form-field appearance="outline" style="width: 100%;margin-top: 30px">
        <mat-label class="inputtextfield" >Bank Name</mat-label>
        <input matInput  type="text" class="inputtextfield" [(ngModel)]="newRegistration.bank_name" required>
      </mat-form-field>
    </div>

    <!--Branch Name-->
    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="inputtextfield">Branch Name</mat-label>
        <input matInput  type="text" class="inputtextfield"  [(ngModel)]="newRegistration.bank_branch_name" required>
      </mat-form-field>
    </div>


    <!--Account Number-->
    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="inputtextfield" >Account Number</mat-label>
        <input matInput  type="number" class="inputtextfield" [(ngModel)]="newRegistration.account_number" required>
      </mat-form-field>
    </div>

    <!--IFSC Number-->
    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="inputtextfield" >IFSC Number</mat-label>
        <input style="text-transform: uppercase;" autocapitalize="on" matInput [formControl]="credentialsForm.controls['ifsc']" [(ngModel)]="newRegistration.iffc_code"type="text" class="inputtextfield" required>
        <mat-hint>
          <div *ngIf="!credentialsForm.controls.ifsc.valid && credentialsForm.controls.ifsc.dirty"
               class="error">
            Please enter a valid IFSC Code!.
          </div>
        </mat-hint>
      </mat-form-field>
    </div>

  </mat-expansion-panel>


  <mat-divider ></mat-divider>

  <!--Expand Panel for  KYC Documents-->
  <mat-expansion-panel style="padding-top: 10px!important;box-shadow:none!important;padding-bottom: 10px!important;margin-bottom: 5px!important;margin-top: 5px!important;">

    <mat-expansion-panel-header>
      <mat-panel-title class="mat-panel-title"  style="margin-top: 30px;margin-bottom: 30px">
        KYC Documents
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!--KYC Documents-->
    <ion-list>
      <ion-card style="box-shadow: none!important;" *ngFor="let kycdoc of newRegistration.kyc_doc_types">
        <ion-grid>
          <ion-row (click)="presentActionSheet(kycdoc.doc_type_id)">
            <ion-col class="ion-text-start" size="9">
       <!--       <div class="newusertext" class="inputtextfield">
                <ion-label class="inputtextfield">{{kycdoc.docs_type}}</ion-label>
               &lt;!&ndash; <p class="newusertext1">
                  {{kycdoc.doc_path}}
                </p>&ndash;&gt;
                <img class="centered" src={{kycdoc.doc_path}}>
              </div>-->
              <div class="inputtextfield" class="inputtextfield">
                <ion-label class="inputtextfield">{{kycdoc.docs_type}}</ion-label>
                <p class="inputtextfield" class="inputtextfield" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{kycdoc.doc_path}}</p>
                <!-- <img class="centered" src={{kycdoc.doc_path}}>-->
              </div>
            </ion-col>
            <ion-col class="ion-text-end" size="3">
              <div>
                <ion-icon style="margin-top: 5px;zoom: 2.0" name="attach"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <mat-divider></mat-divider>

      </ion-card>
    </ion-list>
  </mat-expansion-panel>
  <mat-divider style="margin-bottom: 10%!important;"></mat-divider>
  <mat-checkbox [(ngModel)]="isChecked" (click)="openDialog()" style="margin-left: 5%!important;padding-top: 5%!important;margin-top: 10%!important;" class="newusertext">I accept terms & condition</mat-checkbox>
  <div class="ion-text-center" style="padding-bottom: 20%;padding-top: 20%">
  <button mat-raised-button class="loginbutton" (click)="Register(credentialsForm.value)" routerDirection="forward">Submit</button><br>
  </div>
</ion-content>
