/* Outline For Card*/
.outline {
  margin-bottom: 5% !important;
  border-radius: 16px;
}

.ReminderName {
  text-align: start;
  color: var(--ion-color-primary);
  font-size: 16px;
  font-family: "Metropolis Semi Bold";
  margin-top: 5px;
}

.ReminderDate {
  text-align: start;
  color: var(--ion-color-primary);
  font-size: 14px;
  font-family: "Metropolis Light";
  color: #7a7a7a;
}
.ion-icon {
  font-size: 18px;
  margin-right: 5px !important;
  color: var(--ion-color-primary);
}
.fabmargin {
  margin: 5%;
}
.toolbar-text {
  color: var(--ion-color-secondary);
  font-family: "Metropolis Medium";
  font-size: 20px !important;
}

/*No Data Found*/
.datanotfound {
  alignment: center;
  margin-top: 50%;
}
.noData {
  margin-top: 3% !important;
  font-size: 20px;
  font-family: "Metropolis Medium";
  color: black !important;
}

.reminder-card {
  margin-bottom: 10px !important;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20px;
  box-shadow: none !important;
  border: 1px solid black;
  border-radius: 28px;
}
