<app-header headernam="Work in progress" url=""></app-header>

<ion-content>
  <div class="main">
    <ion-row align-items-center>
      <ion-col size="12">
        <img src="assets/new_icons/work_in_progress.png" alt="" srcset="">
        <br />
        <div class="com_msg d-flex flex-column justify-content-center align-items-center">
          <span>We are working on this feature,</span>
          <span>We will deliver this menu soon.</span>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>

<ion-footer collapse="fade" class="ion-no-border" transparent>
  <div class='btn-box'>
    <button (click)="sideNavMenu()" routerLinkActive="router-link-active" class="common-btn">Go back</button>
  </div>
</ion-footer>