<ion-header>

</ion-header>

<ion-content class="ion-text-center" *ngIf="verifyStatusId==0">
    <ion-row>
        <ion-col sizeMd="4" offsetMd="4" sizeLg="4" offsetLg="4" sizeSm="10" offsetSm="1">
            <div class="col-md-12 col-lg-12 ion-text-center">
                <img src="assets/channelPartner_Icons/vjd_Logos/logo1.png" class="img-responsive header-logo">
            </div>
        </ion-col>
    </ion-row>

    <div class="input-field">
        <ion-row>
            <ion-col size="12">
                <p>Channel Partner Application</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <!-- <ion-col size="3" class="ion-text-center" style="margin-top: 5px!important;">
                <div class="countrycode" style="width: 100%;margin-right: 5px!important;">
                    <mat-label class="countrycodetext">
                        +91
                    </mat-label>
                </div>
            </ion-col> -->
            <ion-col sizeMd="4" offsetMd="4" sizeLg="4" offsetLg="4" sizeSm="10" offsetSm="1" class="p-0">
                <!--Enter Mobile Number-->
                <div [formGroup]="credentialsForm">
                    <mat-form-field appearance="outline" style="width: 100%;margin-top: 5px!important;">
                        <!-- <mat-label class="inputtextfield">User ID</mat-label> -->
                        <input placeholder="Enter CPUID or FOSID" matInput
                            [formControl]="credentialsForm.controls['user_id']" type="text" class="inputtextfield"
                            required>
                        <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button>
                            <mat-icon>
                                <ion-icon color="dark" name="paper-plane"></ion-icon>
                            </mat-icon>
                        </button>
                        <mat-hint>
                            <div *ngIf="!credentialsForm.controls.user_id.valid && credentialsForm.controls.user_id.dirty"
                                class="error">
                                Please enter a valid CPUID or FOSID!.
                            </div>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </ion-col>
            <ion-col sizeMd="4" offsetMd="4" sizeLg="4" offsetLg="4" sizeSm="10" offsetSm="1" class="p-0">

                <div [formGroup]="credentialsForm" class="input-field-text" style="margin-top: 5px!important;">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <!-- <mat-label class="inputtextfield">Password</mat-label> -->
                        <input placeholder="Password" class="inputtextfield" matInput
                            [formControl]="credentialsForm.controls['password']" [type]="getType()"
                            [(ngModel)]="loginifo.password" name="password" required>
                        <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button
                            aria-label="Clear" (click)="toggleTextPassword()">
                            <mat-icon>
                                <ion-icon color="dark" [name]="isActiveToggleTextPassword ? 'eye-off' :'eye'">
                                </ion-icon>
                            </mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </ion-col>

        </ion-row>

        <!--Password-->
        <ion-row>
            <ion-col sizeMd="4" offsetMd="4" sizeLg="4" offsetLg="4" sizeSm="10" offsetSm="1" class="p-0">
                <!--Forgot Password Button-->
                <div class="pb-3 pt-3"
                    style="text-align: right!important;margin-top: -30px!important;margin-right: -15px!important;">
                    <button mat-button id="forgotButton"
                        style="text-align: right!important;;font-size: 14px!important;color: black!important;"
                        (click)="forgotPassword()">Forgot Password</button>
                </div>


                <!--Login Button-->
                <button mat-button class="common-btn" (click)="login(credentialsForm.value)"
                    routerDirection="forward">Submit</button><br>


            </ion-col>
        </ion-row>
        <!--Create New User-->
        <!-- <ion-card-title>
      <div class="newusertext">
        New User ?
      </div>
    </ion-card-title>-->

        <!--Register Now-->
        <!-- <div style="text-align: right!important;margin-top: -30px!important;margin-right: -15px!important;">
            <button mat-button id="forgotButton" style="text-align: right!important;;font-size: 14px!important;color: black!important;" (click)="forgotPassword()">Forgot Password</button>
        </div> -->
        <!-- <button mat-stroked-button class="registerbutton" (click)="register()" routerDirection="forward">Register Now</button> -->

    </div>
    <ion-row>
        <ion-col size="12">

            <p class="m-0">
                Click here to
                <a (click)="register()" routerDirection="forward"> Register Now</a>
            </p>
        </ion-col>
    </ion-row>
    <!-- <div style="margin-top: -200px;">
        <img src="assets/channelPartner_Icons/allPNGImages/myPerformance.png" />
    </div> -->
    <ion-row>
        <ion-col sizeMd="4" offsetMd="4" sizeLg="4" offsetLg="4" sizeSm="10" offsetSm="1">
            <ion-img src="assets/channelPartner_Icons/vjd_Logos/working.png"></ion-img>
        </ion-col>
    </ion-row>

    <!-- <ion-title>Mark Attendance </ion-title> -->
</ion-content>
<div class="ion-no-border" *ngIf="promptEvent" (click)="installPwa()">
    <ion-toolbar class="ion-text-center">

        Install App
        <ion-ripple-effect></ion-ripple-effect>

    </ion-toolbar>
</div>