::ng-deep .mat-radio-label {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  flex-direction: row-reverse !important;
  display: -webkit-box !important;
  display: flex !important;
}

h3 {
  font-weight: bold;
}

::ng-deep .popover-content.sc-ion-popover-md {
  border-radius: 25px;
}

.popover-content {
  // border-radius: 20px;
  border-radius: 25px !important;
}

* {
  color: #707070;
}
::ng-deep.searchbar-input {
  background: #fff !important;
  border-radius: 30px !important;
  height: 44px !important;
  max-width: 400px;
  font-size: 1.25em !important;
  border: 1px solid lightgray !important;
  box-shadow: none !important;
}

.search {
  font-size: 14px !important;
  //
  font-weight: bolder;
}
.select-cp_text {
  font-size: 19px;
  padding-left: 10px;
}
.cp_list {
  padding: 0px 22px;
}
