::ng-deep .mat-radio-label {
    -webkit-box-pack: justify!important;
    justify-content: space-between!important;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: reverse!important;
    flex-direction: row-reverse!important;
    display: -webkit-box!important;
    display: flex!important;
}

h3 {
    font-weight: bold;
}

::ng-deep .popover-content.sc-ion-popover-md {
    border-radius: 25px;
}

.popover-content {
    // border-radius: 20px;
    border-radius: 25px !important;
}

* {
    color: #707070;
}