<app-header headernam="Your Organisation" url="profile"></app-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="10" offset="">
                <h3 class="pt-4 select-cp_text">
                    <b>
                        Select your CP
                    </b>
                </h3>
            </ion-col>
        </ion-row>
        <form [formGroup]="myForm">
            <ion-row>
                <ion-col size="12">
                    <!-- <mat-form-field appearance="outline">

                        <input formControlName="searchbox" (input)="valuechange($event)"  matInput type="text">
                    </mat-form-field> -->

                    <ion-searchbar formControlName="searchbox" placeholder="Enter CP name" [(ngModel)]="searchbox_nm"
                        debounce="270" (ionInput)="search($event)" (ionClear)="clear()" class="search">
                    </ion-searchbar>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="cp_list">

                    <mat-radio-group (change)="changeOrgz($event)" formControlName="firm"
                        class="d-flex justify-content-around pt-4 pb-4">
                        <div class="d-flex flex-column w-100">
                            <!-- | filter:searchbox_nm -->
                            <mat-radio-button class="pt-3" [value]="firm.cp_entity_id" *ngFor="let firm of firms ">
                                {{firm.billing_name}}
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>

                    <p *ngIf="firms.length ===0 && searchbox_nm!=null" style="color: black;text-align: center;">No CP
                        found.</p>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>
<div class="d-flex justify-content-center col-md-4 offset-md-4 col-lg-4col-md-4 offset-md-4 col-lg-4 pb-4">
    <button mat-button class="common-btn w-75 " (click)="confirmBox()" routerDirection="forward">Confirm</button><br>
</div>


<ion-footer *ngIf="is_cp_tagging_requested ==0" collapse="fade" class="ion-no-border" transparent>
    <div class='btn-box'>
        <button [routerLink]="['/profile']" routerLinkActive="router-link-active" mat-button
            class="common-btn">Profile</button>
    </div>
</ion-footer>