::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.custom-card {
    background-color: white;
}

::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
}

.rounded-img {
    border-radius: 4.25rem!important;
}

::ng-deep table.mat-table {
    border-spacing: 0;
    width: 100%;
    border-radius: 1px solid;
}

p {
    font-family: "Metropolis Light";
}

.custom-tb {
    border: 1px solid;
    border-radius: 1rem;
}

::ng-deep table>* {
    border-radius: 1px solid;
}

::ng-deep tr>th {
    border-radius: 1px solid;
}