<app-header headernam="Update FOS"></app-header>

<ion-content>
  <div class="d-flex flex-column flex-start fos-card">
    <div class="d-flex align-items-center fos-card-info">
      <ion-icon class="fos-card-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/personoutline.svg">
      </ion-icon>
      <label class="fos-card-label">{{fosInfo.name}} </label>
    </div>
    <div class="d-flex align-items-center fos-card-info">
      <ion-icon class="fos-card-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/mailoutline.svg">
      </ion-icon><label class="fos-card-label">{{fosInfo.email}}
      </label>
    </div>
    <div class="d-flex align-items-center fos-card-info">
      <ion-icon class="fos-card-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/calloutline.svg">
      </ion-icon>
      <label class="fos-card-label">{{fosInfo.mobile}} </label>
    </div>
    <div class="d-flex align-items-center fos-card-info">
      <mat-checkbox class="ml-2" [(checked)]="isTeamLead" (change)="teamLeadCheck($event.checked)">
      </mat-checkbox>
      <label class="fos-card-label">Is Team Lead</label>
    </div>
  </div>
</ion-content>
<ion-footer collapse="fade" class="ion-no-border" transparent>
  <div class='btn-box'>
    <button (click)="updateFos()" class="common-btn">Update FOS</button>
  </div>
</ion-footer>