h1 {
    font-size: xx-large;
}

.toolbar-text {
    color: var(--ion-color-primary);
    font-family: "Metropolis Medium";
    font-size: medium;
    background-color: #652D90;
}

.toolbar-title {
    color: var(--ion-color-secondary);
    font-family: "Metropolis Medium";
    font-size: 20px;
}

.divider {
    border: 2px var( --ion-color-primary);
    margin-top: 10px!important;
}

.title {
    padding: 5px;
    alignment: center;
    color: var(--ion-color-primary);
    font-family: "Metropolis Medium";
    margin-top: 30%;
    margin-bottom: 15%;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.input-field {}

.input-field-text {
    color: var(--ion-color-primary);
    font-family: "Metropolis Light";
    font-size: large;
    text-align: start;
    margin: 1%;
}

.loginbutton {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    border-radius: 25px;
    background-color: #F5A22C;
    color: var(--ion-color-primary);
    font-size: large;
    font-family: "Metropolis Medium";
}

#forgotButton {
    color: var(--ion-color-medium_grey);
    letter-spacing: 0.8px;
    margin-top: 5%;
    font-size: medium;
}

.error {
    color: red;
    text-align: start;
    font-family: "Metropolis Light";
    font-size: 11px;
}

.newusertext {
    padding: 2px;
    alignment: center;
    color: #000000;
    font-family: "Metropolis Light";
    margin-top: 5%;
    margin-left: 3%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.newusertext1 {
    padding: 2px;
    alignment: center;
    color: var(--ion-color-medium_grey);
    font-family: "Metropolis Light";
    margin-right: 3%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.registerbutton {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    border-radius: 25px;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary);
    font-size: large;
    font-family: "Metropolis Medium";
}

.mat-panel-title {
    padding: 1px;
    alignment: left;
    color: var(--ion-color-primary);
    font-family: "Metropolis Medium";
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 18px;
}

.Countrycode {
    width: 50%;
    height: 60px;
    font-size: 14px;
    background-color: var(--ion-color-secondary);
    ;
    border: 1px solid var(--ion-color-light_outline_card);
    padding: 20px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px!important;
    border-radius: 8%;
}

.countrycodetext {
    font-size: 13px;
    font-family: "Metropolis Medium";
    margin-top: 10px!important;
}

.ion-icon {
    zoom: 1.5
}

.background-color {
    background-color: #F9FAFA;
}

.channelpartnername {
    color: var(--ion-color-primary);
    font-family: "Metropolis Semi Bold";
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
}

p {
    font-family: "Metropolis Light";
}

.mat-form-field-wrapper {
    padding-bottom: 1em !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
}

.margin-bt {
    margin-top: -21px;
}

.channelpartner {
    color: var(--ion-color-medium_grey);
    font-family: "Metropolis Medium";
    font-size: 14px;
    margin-top: 6px;
    margin-left: 20px;
}

::ng-deep .mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.6em 0 0.6em 0 !important;
}

::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px;
}

.inputtextfield {
    // padding: 2px;
    color: #000000;
    font-family: "Metropolis Light";
    font-size: 16px;
}

.leadaddress {
    padding: 20px;
    color: #000000;
    font-family: "Metropolis Light";
    font-size: 16px;
}

.preferredsitevisit {
    padding: 2px;
    alignment: center;
    color: var(--ion-color-primary);
    font-family: "Metropolis Medium";
    margin-top: 5%;
    margin-left: 3%;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    position: relative;
}

.Resendbuttons {
    width: 50%;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 25px;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary);
    font-size: 18px;
    font-family: "Metropolis Medium";
}

.Resendbuttons:disabled,
Resendbuttonss[disabled] {
    color: white;
    opacity: 1;
    background: #b3b3b3;
}

::ng-deep.swal2-title {
    font-family: "Metropolis Medium";
    font-size: 16px;
    border-radius: 16px!important;
}

::ng-deep .mat-select-value {
    color: black!important;
    font-family: "Metropolis Medium";
    font-size: 16px!important;
}

::ng-deep.mat-option-text {
    color: black !important;
    font-family: "Metropolis Medium";
    font-size: 16px !important;
}