<ion-header>
  <ion-toolbar color="color_d">
    <ion-row>
      <ion-col>
        <div>
          <ion-buttons slot="start" style="margin-left: 3%">
            <i class="material-icons icon" (click)="goBack()">arrow_back_ios</i>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col style="text-align: start;margin-left: -30px!important;">
        <div>
          <ion-title class="TITLETOOLBAR" style="margin-left: -40px!important;">Approve AOP/QOP</ion-title>
        </div>
      </ion-col>
      <ion-col style="text-align: end;margin-right: 10px;">
        <!-- <img src="assets/channelPartner_Icons/vjd_Logos/vj_logo.svg" class='srcIMGLOGO'style="text-align: right;width: 38%!important;"> -->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-row align-items-center>
      <ion-col size="12">
        <img src="assets/new_icons/3.png" alt="" srcset="">
        <br />
        <div class="d-flex flex-column align-items-center pt-3 pb-3">
          <label>Channel Partners Benefits</label>
          <label>AOP 2022-2023</label>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="table-box">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Brokerage</th>
                  <th>Total</th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of benefitsData">
                  <td>{{item.from_date}}</td>
                  <td>{{item.to_date}}</td>
                  <td>{{item.brokerage}}</td>
                  <td>{{item.total}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <br />

        <div class="d-flex  justify-content-center align-items-center">
          <mat-checkbox (change)="checked($event.checked)"></mat-checkbox>
          &nbsp;&nbsp;
          <label class="pt-1"><a href="">Term and
              Conditions</a></label>
        </div>

      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer collapse="fade" class="ion-no-border" transparent>
  <div class='btn-box'>
    <button [disabled]="!isChecked" (click)="accept()" [class.grey]="!isChecked" mat-button
      class="common-btn">Accept</button>
  </div>
</ion-footer>