// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
<<<<<<< HEAD
  /** primary **/
  --ion-color-primary: #070604;
  --ion-color-btn-primary: #f38383;
  --ion-color-new-primary: #2ac9a9;
  // custom color
  --ion-color-approve-btn-success: #25c18a;
  // --ion-color-approve-btn-reject: #e93445;
  --ion-color-approve-btn-success: #25c18a;
  --ion-color-approve-btn-success-rgb: 37, 193, 138;
  --ion-color-approve-btn-success-contrast: #ffffff;
  --ion-color-approve-btn-success-contrast-rgb: 0, 0, 0;
  --ion-color-approve-btn-success-shade: #25c18a;
  --ion-color-approve-btn-success-tint: #25c18a;
  // custom color
  // custom color
  // --ion-color-approve-btn-reject: #25c18a;
  // --ion-color-approve-btn-reject: #e93445;
  --ion-color-approve-btn-reject: #e93445;
  --ion-color-approve-btn-reject-rgb: 37, 193, 138;
  --ion-color-approve-btn-reject-contrast: #ffffff;
  --ion-color-approve-btn-reject-contrast-rgb: 0, 0, 0;
  --ion-color-approve-btn-reject-shade: #e93445;
  --ion-color-approve-btn-reject-tint: #e93445;
  // custom color
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #070604;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #070604;
  --ion-color-primary-tint: #070604;
  --ion-color-main-white: #ffffff;
  /** secondary **/
  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #ffffff;
  --ion-color-secondary-tint: #ffffff;
  /*Header*/
  --ion-color-header: #070604;
  /** grey **/
  --ion-color-dark_grey: #212121;
  --ion-color-medium_grey: #a5a5a5;
  --ion-color-light_grey: #dbdbdb;
  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-new: #69bb7b;
  --ion-color-new-rgb: 105, 187, 123;
  --ion-color-new-contrast: #ffffff;
  --ion-color-new-contrast-rgb: 255, 255, 255;
  --ion-color-new-shade: #5ca56c;
  --ion-color-new-tint: #78c288;
  --ion-color-call_color: #00ae4b;
  --ion-color-light_outline_card: #c6c6c6;
  --ion-color-light_main_gray: #606060;
  --ion-color-close: #e4e4e6;
  --ion-color-tag-background: #ececec;
  --ion-color-divider: #bdbdbd;
  --ion-font-family: "roboto";
  // --ion-";
=======
    /** primary **/
    --ion-color-primary: #070604;
    --ion-color-btn-primary: #f38383;
    --ion-color-new-primary: #2ac9a9;
    // custom color
    --ion-color-approve-btn-success: #25c18a;
    // --ion-color-approve-btn-reject: #e93445;
    --ion-color-approve-btn-success: #25c18a;
    --ion-color-approve-btn-success-rgb: 37, 193, 138;
    --ion-color-approve-btn-success-contrast: #ffffff;
    --ion-color-approve-btn-success-contrast-rgb: 0, 0, 0;
    --ion-color-approve-btn-success-shade: #25c18a;
    --ion-color-approve-btn-success-tint: #25c18a;
    // custom color
    // custom color
    // --ion-color-approve-btn-reject: #25c18a;
    // --ion-color-approve-btn-reject: #e93445;
    --ion-color-approve-btn-reject: #e93445;
    --ion-color-approve-btn-reject-rgb: 37, 193, 138;
    --ion-color-approve-btn-reject-contrast: #ffffff;
    --ion-color-approve-btn-reject-contrast-rgb: 0, 0, 0;
    --ion-color-approve-btn-reject-shade: #e93445;
    --ion-color-approve-btn-reject-tint: #e93445;
    // custom color
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #070604;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #070604;
    --ion-color-primary-tint: #070604;
    --ion-color-main-white: #ffffff;
    /** secondary **/
    --ion-color-secondary: #ffffff;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #ffffff;
    --ion-color-secondary-tint: #ffffff;
    /*Header*/
    --ion-color-header: #070604;
    /** grey **/
    --ion-color-dark_grey: #212121;
    --ion-color-medium_grey: #a5a5a5;
    --ion-color-light_grey: #dbdbdb;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-new: #69bb7b;
    --ion-color-new-rgb: 105, 187, 123;
    --ion-color-new-contrast: #ffffff;
    --ion-color-new-contrast-rgb: 255, 255, 255;
    --ion-color-new-shade: #5ca56c;
    --ion-color-new-tint: #78c288;
    --ion-color-call_color: #00ae4b;
    --ion-color-light_outline_card: #c6c6c6;
    --ion-color-light_main_gray: #606060;
    --ion-color-close: #e4e4e6;
    --ion-color-tag-background: #ececec;
    --ion-color-divider: #bdbdbd;
    --ion-font-family: "roboto";
    // --ion-";
>>>>>>> 0a468457002dd8df4716ce92dc6f7d8a25264af6
}

.ion-color-new {
  --ion-color-base: var(--ion-color-new);
  --ion-color-base-rgb: var(--ion-color-new-rgb);
  --ion-color-contrast: var(--ion-color-new-contrast);
  --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
  --ion-color-shade: var(--ion-color-new-shade);
  --ion-color-tint: var(--ion-color-new-tint);
}

// @font-face {
//
//   font-style: normal;
//   font-weight: normal;
//   src: url("../assets/fonts/metropolis-light.otf");
// }
// @font-face {
//
//   font-style: normal;
//   font-weight: normal;
//   src: url("../assets/fonts/metropolis-medium.otf");
// }
// @font-face {
//   ;
//   font-style: normal;
//   font-weight: normal;
//   src: url("../assets/fonts/metropolis-semi-bold.otf");
// }
// @font-face {
//   ;
//   font-style: normal;
//   font-weight: normal;
//   src: url("../assets/fonts/metropolis-bold.otf");
// }
// @font-face {
//   ";
//   font-style: normal;
//   font-weight: normal;
//   src: url("../assets/fonts/metropolis-extra-bold.otf");
// }
// ion-toolbar {
//   background-color: #1e2023!important;
//   color: #ce1515;
// }
ion-header ion-toolbar {
  --ion-color-base: #ce1515;
}

ion-toast.toastController {
  color: var(--ion-color-btn-primary);
  font-size: 16px;
}

.ion-color-fab {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-new-rgb);
  --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-approve-btn-success {
  --ion-color-base: var(--ion-color-approve-btn-success) !important;
  --ion-color-base-rgb: var(--ion-color-approve-btn-success-rgb) !important;
  --ion-color-contrast: var(
    --ion-color-approve-btn-success-contrast
  ) !important;
  --ion-color-contrast-rgb: var(
    --ion-color-approve-btn-success-contrast-rgb
  ) !important;
  --ion-color-shade: var(--ion-color-approve-btn-success-shade) !important;
  --ion-color-tint: var(--ion-color-approve-btn-success-tint) !important;
}

.ion-color-approve-btn-reject {
  --ion-color-base: var(--ion-color-approve-btn-reject) !important;
  --ion-color-base-rgb: var(--ion-color-approve-btn-reject-rgb) !important;
  --ion-color-contrast: var(--ion-color-approve-btn-reject-contrast) !important;
  --ion-color-contrast-rgb: var(
    --ion-color-approve-btn-reject-contrast-rgb
  ) !important;
  --ion-color-shade: var(--ion-color-approve-btn-reject-shade) !important;
  --ion-color-tint: var(--ion-color-approve-btn-reject-tint) !important;
}

// .ion-color-toolbar {
//   --ion-color-base: #ce1515 ;
//   --ion-color-base-rgb: #ce1515;
//   --ion-color-contrast-rgb: #ce1515;
//   --ion-color-shade: #ce1515;
//   --ion-color-tint:#ce1515;
// }
// .ion-color-toolbar{
//   --ion-color-base: #ce1515 !important;
//   --ion-color-base-rgb: #ce1515 !important;
//   --ion-color-contrast: #ce1515 !important;
//   --ion-color-contrast-rgb: #ce1515 !important;
//   --ion-color-shade:#ce1515 !important;
//   --ion-color-tint: #ce1515 !important;
// }
.ion-color-color_d {
  --ion-color-base: #ffeeff !important;
  --ion-color-base-rgb: #ffeeff !important;
  --ion-color-contrast: #ffeeff !important;
  --ion-color-contrast-rgb: #ffeeff !important;
  --ion-color-shade: #ffeeff !important;
  --ion-color-tint: #ffeeff !important;
}

.icon {
  width: 24px;
  color: black;
  height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 5px;
}

ion-content {
  --background: linear-gradient(
    0deg,
    #ffffff 0%,
    #ffeeff 100%
  ); // Replace this with color of your choice
}

// $colors: (
//   light:      #652D90,
// );
