<app-header headernam="Team Leaders"></app-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="" pullingText="" refreshingSpinner="circles" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngFor="let c of teamList let i=index">

    <div class="d-flex flex-column flex-start fos-card ">

      <!-- <span class="d-flex  justify-content-end">
        <ion-icon (click)="updateTeamLead(i,c.cp_executive_id)" class="fos-card-icon"
          src="assets/channelPartner_Icons/card_Update_Delete_Icon/pencil-sharp.svg"></ion-icon>
      </span> -->

      <div class="d-flex align-items-center fos-card-info">
        <ion-icon class="fos-card-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/personoutline.svg">
        </ion-icon>
        <label><b>{{c.full_name}}</b> </label>
        <span class="ms-auto">
          <ion-icon (click)="updateTeamLead(i,c.cp_executive_id)" class="fos-card-icon"
            src="assets/channelPartner_Icons/card_Update_Delete_Icon/pencil-sharp.svg"></ion-icon>
        </span>
      </div>
      <div class="d-flex align-items-center fos-card-info">
        <ion-icon class="fos-card-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/mailoutline.svg">
        </ion-icon><label>{{c.email}}
        </label>
      </div>
      <div class="d-flex align-items-center fos-card-info">
        <ion-icon class="fos-card-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/calloutline.svg">
        </ion-icon>
        <label>{{c.mobile}} </label>
      </div>

      <div class="d-flex align-items-center fos-card-info">
        <ion-icon class="fos-card-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/people_outline.svg">
        </ion-icon>
        <label>{{c.fos_count}} Team members </label>
      </div>

    </div>
  </ng-container>

  <!-- 

  <ion-list>

    <ion-card *ngFor="let c of teamList let i=index"
      style="border-radius: 10px!important;margin-top: 20px!important;padding-top: 5px;padding-bottom: 5px;"
      (click)="updateTeamLead(i,c.cp_executive_id)">
      <ion-card-header no-padding>


        <ion-row style="margin-top: 5px;">
          <ion-col size='2' style="margin-left: 5px;">
            <ion-icon src="assets/channelPartner_Icons/user_Photo_Icon/user_white.svg"
              style="color: gray;margin-right: 2%!important;width: 24px;height:  24px"></ion-icon>
          </ion-col>
          <ion-col size='8' style="margin-left: -30px;">
            <div class="margintexttitle" style="margin-left: 3%!important;margin-right: 3%!important;">
              {{c.full_name}}
            </div>
          </ion-col>
          <ion-col size='2' style="text-align: end;margin-left: 15px;">
            <div class="ion-text-end">
              <ion-icon src="assets/channelPartner_Icons/card_Update_Delete_Icon/edit_icon.svg"
                style="width: 24px;height: 24px;" (click)="updateTeamLead(i,c.cp_executive_id)"></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size='2' style="margin-left: 7px;margin-top: -5px">
            <ion-icon src="assets/channelPartner_Icons/email_Icon/mail.svg"
              style="color: gray;margin-right: 2%!important;width: 18px;height:  18px"></ion-icon>
          </ion-col>
          <ion-col size='10' style="margin-left: -30px;">
            <div class="margintextsubtitle" style="margin-left: 3%!important;margin-right: 3%!important;">
              {{c.email}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size='2' style="margin-left: 7px;margin-top: -5px">
            <ion-icon src="assets/channelPartner_Icons/mobile_Phone_Icon/phone.svg"
              style="color: gray;margin-right: 2%!important;width: 18px;height:  18px"></ion-icon>
          </ion-col>
          <ion-col size='10' style="margin-left: -30px;">
            <div class="margintextsubtitle" style="margin-left: 3%!important;margin-right: 3%!important;">
              {{c.mobile_number}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size='2' style="margin-left: 7px;margin-top: -5px">
            <ion-icon src="assets/channelPartner_Icons/team_Leader_Stats/team_leader_list.svg"
              style="color: gray;margin-right: 2%!important;width: 18px;height:  18px"></ion-icon>
          </ion-col>
          <ion-col size='10' style="margin-left: -30px;">
            <div class="margintextsubtitle" style="margin-left: 3%!important;margin-right: 3%!important;">
              {{c.fos_count}} Team members
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ion-list>
  -->

  <!--Check If Data is available or not-->
  <div *ngIf="teamList.length==0 && isSpinner==false" class="ion-text-center">
    <div class="datanotfound">
      <img src="assets/channelPartner_Icons/user_Photo_Icon/user-grey.svg" style="width: 90px;height: 90px">
      <ion-card-title class="noData">No Team Data Available!</ion-card-title>
    </div>
  </div>


  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="fabmargin">
      <ion-fab-button color="fab">
          <ion-icon name="add" style="color: black!important;"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button   color="fab" (click)="gotoFOS()" data-desc="Add from FOS List">
              <ion-icon name="person-add" style="color: black!important;"  (click)="gotoFOS()"></ion-icon>
          </ion-fab-button>
          <ion-fab-button  color="fab" (click)="LeaderTOFOS()" data-desc="Add New Team Leader">
              <ion-icon src="assets/channelPartner_Icons/team_Leader_Stats/team_leader_list.svg"  style="color: black!important;" (click)="LeaderTOFOS()"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
  </ion-fab> -->

</ion-content>