.toolbar-text {
  color: var(--ion-color-primary);
  font-family: "Metropolis Medium";
  font-size: medium;
  background-color: #652d90;
}
.toolbar-title {
  color: #606060ba;
  font-family: "Metropolis Medium";
  font-size: 20px;
}
.matLabel {
  color: var(--ion-color-primary);
  font-family: "Metropolis Light";
  font-size: 16px !important;
}
.title {
  color: #606060;
  font-family: "Metropolis Medium";
  font-size: 14px !important;
}
.count_leads {
  color: #1abc71;
  font-family: "Metropolis Extra Bold";
  font-size: 25px !important;
}
.count_siteVisit {
  color: #f5d400;
  font-family: "Metropolis Extra Bold";
  font-size: 25px !important;
}
.count_Ghpgenerated {
  color: #924dcf;
  font-family: "Metropolis Extra Bold";
  font-size: 25px !important;
}

.count_GhpgPulsenerated {
  color: #4e0291;
  font-family: "Metropolis Extra Bold";
  font-size: 25px !important;
}
.count_allotments {
  color: #2c408b;
  font-family: "Metropolis Extra Bold";
  font-size: 25px !important;
  padding-top: 40px !important;
}
.outline_card {
  // width: 80%!important;
  // height: 115px!important;
  // box-shadow: none!important;
  // border-radius: 10px!important;
  // border-bottom: 2px solid gray!important;
  // border-top: 2px solid gray!important;
  // border-left: 2px solid gray!important;
  // border-right: 2px solid gray!important;
  width: 95% !important;
  height: 115px !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  border-bottom: 2px solid gray !important;
  border-top: 2px solid gray !important;
  border-left: 2px solid gray !important;
  border-right: 2px solid gray !important;
  margin-left: 6px;
  margin-top: -5px;
}

.outline_card_ForAllotment {
  width: 87% !important;
  height: 115px !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  border-bottom: 2px solid gray !important;
  border-top: 2px solid gray !important;
  border-left: 2px solid gray !important;
  border-right: 2px solid gray !important;
}
::ng-deep.mat-select-panel .mat-optgroup-label {
  color: black;
}
::ng-deep.mat-select-panel .mat-option-text {
  color: black;
  font-family: "Metropolis Medium";
  font-size: 16px;
}
::ng-deep.mat-select-panel .mat-select-arrow-wrapper {
  color: black;
}
::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  color: black;
}
::ng-deep.mat-select-value {
  color: black;
  font-family: "Metropolis Medium";
  font-size: 16px;
}
::ng-deep.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  font-size: 15px;
}

.performance-page {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
}
.allotments_card {
  background: rgba(89, 172, 180, 0.55);
  box-shadow: none !important;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  color: white;
  height: 138px;
}

.check_all_btn {
  background: linear-gradient(0deg, #ffffff 0%, #ffeeff 100%);
  background: #1d4a5e;
  color: white;
  border-radius: 28px;
  width: 104px;
  height: 43px;
  padding: 8px;
  margin-right: 14px;
  border-color: black;
}
.allotment_count {
  font-size: 35px;
  margin-left: 1.6rem;
}
.total_alltoment_text {
  font-size: 20px;
}

.all_small_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 28px;
  padding: 8px;
  height: 96px;
}
.small_card_text {
  font-size: 24px;
}
.small_card_nm {
  font-size: 14px;
  text-align: center;
  padding-top: 4px;
}
.bg1 {
  background: #b459a58c;
}
.bg2 {
  background: #80b4598c;
}
.bg3 {
  background: #b459598c;
}

.cr {
  font-size: 9px;
}
.brokerage_text {
  font-size: 13px;
  margin-top: 30px;
  text-align: center;
}
::ng-deep.ngx-slider .ngx-slider-tick-legend {
  font-size: 11px;
}
::ng-deep.ngx-slider.animate .ngx-slider-bubble.ngx-slider-limit {
  display: none !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}
