.newusertext {
  padding: 2px;
  alignment: center;
  color: #000000;

  margin-top: 5%;
  margin-left: 3%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.newusertext1 {
  padding: 2px;
  alignment: center;
  color: var(--ion-color-primary);

  margin-right: 3%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.newusertext2 {
  padding: 2px;
  alignment: center;
  color: var(--ion-color-medium_grey);
  margin-right: 3%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

// .pane {
//   --background: url('/assets/navigationNewBG.png') no-repeat center center fixed !important;
//   background-size: cover !important;
//   position: fixed;
//   alignment: top;
// }
.nav-header {
  display: flex;
  justify-content: center;
  // margin-top: -46px;
}
.nav-header-img {
  width: 50%;
}

.menu-item-img {
  width: 55px;
}

.top-right {
  position: absolute;
  top: 18px;
  right: 21px;
  font-size: 22px;
}

::ng-deep .item-native {
  // background-color: linear-gradient(0deg, #ffffff 0%, #f1f4fe 100%) !important;
}

.horizontal-line {
  width: 203px;
  margin: 0 auto;
}
