.nameOfCustomer {
  color: var(--ion-color-primary);
  font-size: 18px !important;
  margin-top: 5px;
  font-weight: 900;
}
.subTitleOther {
  color: var(--ion-color-primary);
  font-size: 16px !important;
  margin-top: 5px;
  font-weight: 900;
}
.matButton {
  background-color: #f5a22c !important;
  color: black !important;

  font-size: 15px !important;
  text-align: center !important;
  width: 180px !important;
  height: 40px !important;
  border-radius: 19px !important;
  letter-spacing: 0.5px !important;
  text-transform: uppercase !important;
}
.expandCardHeading {
  color: var(--ion-color-primary);
  font-size: 18px !important;
  margin-top: 5px;
  font-weight: 900;
}
.boldTitle {
  color: gray !important;
  font-size: 14px !important;
  margin-top: 5px;
  font-weight: 900;
}
.mediumSubTitle {
  color: var(--ion-color-primary);
  font-size: 15px !important;
  margin-top: 5px;
  font-weight: 900;
}
.matTitle {
  color: var(--ion-color-primary);
  font-size: 15px !important;
  margin-top: 5px;
  font-weight: 900;
  margin-left: 6px !important;
}
/*No Data Found*/
.datanotfound {
  alignment: center;
  margin-top: 30% !important;
}
.noData {
  margin-top: 3% !important;
  font-size: 20px;

  color: black !important;
}
