.center-page {
    height: calc(35vh);
    display: flex!important;
    align-content: center!important;
    align-items: flex-end;
}

.link-css {
    color: #4D53FF;
    text-decoration: underline;
}