<app-header headernam="Team Person"></app-header>


<!-- Whole Page Changed On 19/03/2020 -->
<ion-content>
  <div class="team-lead-text">
    <h5>Team Leader Information</h5>
  </div>

  <div class="d-flex flex-column flex-start team-person-card ">

    <!-- <span class="d-flex  justify-content-end">
          <ion-icon (click)="updateTeamLead(i,c.cp_executive_id)" class="fos-card-icon"
            src="assets/channelPartner_Icons/card_Update_Delete_Icon/pencil-sharp.svg"></ion-icon>
        </span> -->

    <div class="d-flex align-items-center team-person-info">
      <ion-icon class="team-person-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/personoutline.svg">
      </ion-icon>
      <label><b>{{userInfo.full_name}}</b> </label>

    </div>
    <div class="d-flex align-items-center team-person-info">
      <ion-icon class="team-person-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/mailoutline.svg">
      </ion-icon><label>{{userInfo.email}}
      </label>
    </div>
    <div class="d-flex align-items-center team-person-info">
      <ion-icon class="team-person-icon" src="assets/channelPartner_Icons/card_Update_Delete_Icon/calloutline.svg">
      </ion-icon>
      <label>{{userInfo.mobile}} </label>
    </div>
  </div>

  <mat-divider style="font-size: 1px!important;"></mat-divider>

  <div class="team-lead-text">
    <h5>Team Members</h5>
  </div>

  <!--Check If Data is available or not-->
  <div *ngIf="teamMembers.length==0 && isSpinner==false" class="ion-text-center">
    <div class="datanotfound">
      <img src="assets/channelPartner_Icons/card_Update_Delete_Icon/people_outline.svg"
        style="width: 60px;height: 60px">
      <ion-card-title class="noData">Team Members Not Available!</ion-card-title>
    </div>
  </div>


  <ion-list style="">

    <mat-chip-list #chipList>

      <mat-chip *ngFor="let c of teamMembers let i=index"
        style="font-size: 16px;padding-left: 5px; padding-top: 20px;padding-bottom: 20px; width: auto;white-space: pre-wrap;font-weight: 900;margin-top: 10px;">
        <ion-icon src="assets/channelPartner_Icons/user_Photo_Icon/user_white.svg"
          style="color: var(--ion-color-primary);width: 18px;height:18px;margin-left: 5px;margin-right: 10px;">
        </ion-icon>
        {{c.full_name}}
        <ion-icon name="close-circle"
          style="margin-left: 6px!important;margin-top:0px!important;color: var(--ion-color-primary);font-size: 20px!important;width: 30px;height: 30px;"
          (click)="deleteData(c.cp_team_member_id,c.full_name,c.mobile_number)"></ion-icon>
      </mat-chip>

    </mat-chip-list>
  </ion-list>
</ion-content>

<ion-footer style="background-color: transparent;height: 0px">
  <div
    style="align-content: right!important;alignment: right!important;text-align: right!important;justify-content: right!important;margin-top: -22%!important;">
    <button mat-raised-button class="teamleaderFabtype" (click)="addTeamPerson()" routerDirection="forward">
      <ion-icon name="add" style="margin-right: 3%!important;color: white; width: 24px;height: 24px;margin-top: -2px;">
      </ion-icon>Team Members
    </button>
  </div>
</ion-footer>