h1 {
  font-size: xx-large;
}
.toolbar-text {
  color: var(--ion-color-primary);

  font-size: medium;
  background-color: #652d90;
}
.toolbar-title {
  color: var(--ion-color-secondary);

  font-size: 20px;
}
.divider {
  border: 2px var(--ion-color-primary);
  margin-top: 10px !important;
}

.title {
  padding: 5px;
  alignment: center;
  color: var(--ion-color-primary);

  margin-top: 30%;
  margin-bottom: 15%;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.input-field {
}
.input-field-text {
  color: var(--ion-color-primary);

  font-size: large;
  text-align: start;
  margin: 1%;
}
.loginbutton {
  // margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  // padding-top: 5px;
  // padding-bottom: 5px;
  font-size: large;
  // border-radius: 25px;
  // background-color: #f5a22c;
  color: var(--ion-color-primary);
  font-size: large;
}
#forgotButton {
  color: var(--ion-color-medium_grey);
  letter-spacing: 0.8px;
  margin-top: 5%;
  font-size: medium;
}
.error {
  color: red;
  text-align: start;

  font-size: 11px;
}
.newusertext {
  padding: 2px;
  alignment: center;
  color: #000000;

  margin-top: 5%;
  margin-left: 3%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.newusertext1 {
  padding: 2px;
  alignment: center;
  color: var(--ion-color-medium_grey);

  margin-right: 3%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.registerbutton {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: large;
  border-radius: 25px;
  // background-color: #f5a22c;
  color: var(--ion-color-primary);
  font-size: large;
}
.mat-panel-title {
  padding: 1px;
  alignment: left;
  color: var(--ion-color-primary);

  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 18px;
}
.Countrycode {
  width: 100%;
  height: 59px;
  font-size: 14px;
  padding: 20px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 2px !important;
  border-radius: 28px;
  border: 1px solid #606060;
}
.countrycodetext {
  font-size: 13px;

  margin-top: 10px !important;
}
.ion-icon {
  zoom: 1.5;
}
.background-color {
  background-color: #f9fafa;
}
.channelpartnername {
  color: var(--ion-color-primary);
  font-size: 16px;
  margin-top: 15px;
  margin-left: 20px;
}
.channelpartner {
  color: var(--ion-color-medium_grey);

  font-size: 14px;
  margin-top: 6px;
  margin-left: 20px;
}
.inputtextfield {
  padding: 2px;
  color: #000000;

  font-size: 16px;
}
.leadaddress {
  padding: 20px;
  color: #000000;

  font-size: 16px;
}
.preferredsitevisit {
  padding: 2px;
  alignment: center;
  color: var(--ion-color-primary);

  margin-top: 5%;
  margin-left: 3%;
  justify-content: center;
  text-align: left;
  font-size: 16px;
  position: relative;
}

.Resendbuttons {
  width: 50% !important;
  padding-top: 2px;
  padding-bottom: 5px;
  border-radius: 25px;
  // background-color: #f5a22c;
  color: white;
  // color: var(--ion-color-primary);
  font-size: 18px;
}
.Resendbuttons:disabled,
Resendbuttonss[disabled] {
  color: white;
  opacity: 1;
  background: #b3b3b3;
}
::ng-deep.swal2-title {
  font-size: 16px;
  border-radius: 16px !important;
}
::ng-deep .mat-select-value {
  color: black !important;

  font-size: 16px !important;
}
::ng-deep.mat-option-text {
  color: black !important;

  font-size: 16px !important;
}

.verfiy-txt {
  color: blue;
  margin-top: 15px;
}
.footer-box {
  margin: 6px 22px;
}

//vj vp
/*
::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1em !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.6em 0 0.6em 0 !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}
*/
