.fos-card {
  border-radius: var(--border-radius);
  padding: 18px;
  margin: 22px;
  border: 1px solid grey;
  .fos-card-info {
    gap: 10px;
    margin-bottom: 10px;
  }
  .fos-card-icon {
    font-size: 22px;
  }
}
.fos-img {
  margin: 12px;
  height: 200px;
}

.action-icon-box {
  margin-right: 6px;
  gap: 1rem;
}
