.buttons {
  margin-top: 10%;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: #f5a22c;
  color: var(--ion-color-primary);
  font-size: 18px;
}
.Resendbuttons {
  margin-top: 10%;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: #f5a22c;
  color: var(--ion-color-primary);
  font-size: 18px;
}
#otpMessage {
  margin-top: 10%;
  margin-left: 2%;
  margin-left: 2%;
  font-size: 18px;
}
.input-field {
  margin: 5%;
  margin-top: 30%;
}
.input-field-text {
  color: var(--ion-color-primary);
  font-size: large;
  text-align: start;
  margin: 3%;
}
.inputtextfield {
  padding: 2px;
  color: #000000;

  font-size: 16px;
}
.toolbar-text {
  color: var(--ion-color-secondary);

  font-size: medium;
  background-color: #652d90;
}
.Resendbuttons:disabled,
Resendbuttonss[disabled] {
  color: white;
  opacity: 1;
  background: #b3b3b3;
}
::ng-deep.swal2-title {
  font-size: 16px;
  border-radius: 16px !important;
}
.error {
  color: red;
  text-align: start;

  font-size: 11px;
}
.enter-otp {
  font-size: 2em;
  padding-left: 12px;
}
