<app-header headernam="Verify OTP" url="/"></app-header>
<ion-content class="ion-text-center">
  <div class="input-field">
    <!--Enter OTP-->

    <ion-title class="text-start enter-otp">Enter OTP</ion-title>
    <p>We've sent an OTP to your mobile number.</p>
    <div class="input-field-text">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="inputtextfield">OTP</mat-label>
        <input matInput name="otptext" [(ngModel)]="loginifo.confirmotp" type="text" class="inputtextfield" required>
      </mat-form-field>
    </div>

    <div class='btn-box'>
      <button (click)="goToChangePassword()" routerLinkActive="router-link-active" class="common-btn">Verify</button>
    </div>
    <!-- <button mat-stroked-button class="buttons" (click)="goToChangePassword()">Verify</button> -->
  </div>

  <!-- <div id="otpMessage" class="inputtextfield"> -->
  <!-- <mat-label class="inputtextfield">Resend OTP in.</mat-label> -->
  <ng-container>
    <p style="color: #949090;" *ngIf="isResendOtp">Resend OTP in {{counter}}</p>
    <p (click)="ResendOtp()" *ngIf="!isResendOtp">Resend OTP</p>
  </ng-container>
  <!-- </div> -->


  <!-- <button mat-stroked-button class="Resendbuttons" [disabled]="disabled" (click)="ResendOtp()">Resend OTP</button> -->

  <!-- <div class='btn-box'>
    <button (click)="ResendOtp()" [style.background-color]="this.color1 === true ? '#a5a5a5' : ''" [disabled]="disabled"
      routerLinkActive="router-link-active" class="common-btn">Resend OTP</button>
  </div> -->
</ion-content>