.countryname {
  text-align: start;
  color: var(--ion-color-primary);
  font-size: 16px;

  margin-top: 2px;
  margin-bottom: 10px;
}
.countrynumber {
  text-align: end;
  color: var(--ion-color-primary);
  font-size: 14px;
}
.nodata {
  text-align: center;
  color: var(--ion-color-primary);
  font-size: 20px;
  margin-top: 60% !important;
  margin-bottom: 10px;
}
.divider {
  border: 1px solid grey;
}
.toolbar-text {
  color: var(--ion-color-secondary);

  font-size: medium;
  background-color: #652d90;
}
.toolbar-title {
  color: var(--ion-color-secondary);

  font-size: 20px;
}
/*Internal text size*/
.cuid {
  text-align: start;
  color: black;
  font-size: 14px;

  margin-top: 10px;
}
