<app-header headernam="Profile" url="home"></app-header>
<ion-content>
    <ion-grid>
        <ion-row align-items-center>
            <ion-col size="10" offsetXs="1" offsetSm="1">

                <!-- <p class="mb-0">Profile Page</p> -->
            </ion-col>
            <ion-col size="6" offsetMd="5" sizeMd="2" offsetXs="3" offsetSm="3">
                <ion-img src="assets/channelPartner_Icons/profile/profile.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row align-items-baseline>
            <ion-col size="10" offsetXs="1" offsetSm="1" class="pt-4">
                <div *ngFor="let item of detailsArray" class="d-flex justify-content-between mb-2">
                    <div>
                        <h5>{{item.info}}</h5>
                    </div>
                    <div>
                        <mat-icon>
                            <ion-icon [name]="item.iconnm"></ion-icon>
                        </mat-icon>
                    </div>
                </div>

                <mat-divider class="divider pt-3"></mat-divider>
                <!-- CP Acceptance -->
                <ng-container *ngIf="verification_status_id ==1">
                    <div *ngIf="login_type ==1" class="d-flex flex-column pt-3">

                        <!-- <div class="d-flex justify-content-between" (click)="goto('aop-approval-benefit')">
                            <div>
                                <h5>Approved AOP/QOP</h5>
                            </div>
                            <div>
                                <mat-icon>
                                    <ion-icon name="arrow-dropright"></ion-icon>
                                </mat-icon>
                            </div>
                        </div> -->


                        <div class="d-flex justify-content-between pt-3" (click)="goto('foslist')">
                            <div>
                                <h5>FOS LIST</h5>
                            </div>
                            <div>
                                <mat-icon>
                                    <ion-icon name="arrow-dropright"></ion-icon>
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="is_cp_tagging_requested ==3">
                    <div *ngIf="login_type ==2" class="d-flex flex-column pt-3">
                        <div class="d-flex justify-content-between" (click)="goto('cpstatus')">
                            <div>
                                <h5>SELECT ORGANIZATION </h5>
                            </div>
                            <div>
                                <mat-icon>
                                    <ion-icon name="arrow-dropright"></ion-icon>
                                </mat-icon>
                            </div>
                        </div>

                    </div>
                </ng-container>

            </ion-col>
            <ion-col size="10" offsetXs="1" offsetSm="1" class="">


            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<div>
    <!-- <div class="d-flex justify-content-around">
        <div class="p-2">

            <div class="d-flex justify-content-between">
                <h4>connect with</h4>
            </div>
        </div>
        <div class="d-flex">
            <div class="p-2">
                <mat-icon>
                    <ion-icon name="logo-google"></ion-icon>

                </mat-icon>
            </div>
            <div class="p-2">
                <mat-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                </mat-icon>
            </div>
            <div class="p-2">
                <mat-icon>
                    <ion-icon name="mail"></ion-icon>
                </mat-icon>
            </div>
        </div>
    </div> -->
    <div class="d-flex justify-content-center">
        <button mat-button style="max-width: 80% !important " (click)="logout()"
            class="common-btn  mb-3">Logout</button><br>
    </div>
</div>