p {
    font-family: "Metropolis Light";
    font-size: 28px;
}

h4 {
    font-family: "Metropolis Light";
}

.divider {
    // border: 1px var( --ion-color-medium_grey);
    // color: ;
    color: #707070; // margin-top: 10px!important;
}

.toolbar-background {
    background: transparent !important;
    border: 0px !important;
}