ion-button {
    max-width: 80%;
}

.card-css {
    border-radius: 15%;
    border: 1px solid #707070;
}

.img-mx {
    max-width: 80%;
}

::ng-deep .approve-sucess {
    --background: var(--ion-color-approve-btn-success);
}

::ng-deep ion-searchbar {
    .searchbar-input-container {
        .searchbar-input {
            border-radius: 30px !important;
        }
    }
}