/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
//For TOAST
body {
  //   background: linear-gradient(0deg, #ffffff 0%, #ffeeff 100%);
  font-family: "Roboto" !important;
}

.my-custom-class {
  --background: var(--ion-color-btn-primary);
  --color: var(--ion-color-secondary);
  --font-max-size: 16px !important;
}

//For ALERT
.alert {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-secondary);
  --font-max-size: 18px !important;
}

//For Toolbar-title
.toolbar-title {
  color: var(--ion-color-secondary);
  font-size: 20px;
}

.toolbar-titleNew {
  color: var(--ion-color-secondary);
  font-size: 20px;
  background-color: #0e0614;
}

//For TOAST Sucess
.my-custom-toastSuceess {
  --background: var(--ion-color-btn-primary);
  color: white;
  --font-max-size: 16px !important;
}

//For TOAST Red
.my-custom-toastError {
  --background: red;
  color: white;
  --font-max-size: 16px !important;
}

//For TOAST
.my-custom-toast {
  --background: black;
  --font-max-size: 16px !important;
}

//For Home TOAST
.my-custom-toast-homeSuccess {
  --background: var(--ion-color-btn-primary);
  --color: var(--ion-color-main-white);
  --font-max-size: 16px !important;
  padding-bottom: 120%;
  position: initial;
  margin-bottom: 27%;
  box-shadow: none;
}

ion-loading.custom-loading {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }
}

ion-toolbar {
  --background: #f2f2f2;
}

.TITLETOOLBAR {
  font-size: 18px;
  color: black;
  padding-top: 4px;
  margin-left: -32px;
}

.srcIMGLOGO {
  text-align: right;
  margin-right: 0px;
  width: 30% !important;
}

.p-0 {
  padding: 0px !important;
}

.common-btn {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  padding: 0.5rem !important;
  font-size: 18px !important;
  border-radius: 25px !important;
  // border-color: #F5A22C!important;
  background-color: var(--ion-color-btn-primary);
  // border: 1px solid #F5A22C!important;
  color: white !important;
}

.common-btn-for-popover {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  padding: 0.25rem !important;
  font-size: 18px !important;
  border-radius: 25px !important;
  background-color: var(--ion-color-btn-primary);
  color: white !important;
}

.common-btn-outline-for-popover {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  padding: 0.25rem !important;
  border: 1px solid black !important;
  font-size: 18px !important;
  border-radius: 25px !important;
  // border-color: #F5A22C!important;
  background-color: white;
  // border: 1px solid #F5A22C!important;
  color: black !important;
}

.common-btn-outline {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  padding: 0.5rem !important;
  border: 1px solid black !important;
  font-size: 18px !important;
  border-radius: 25px !important;
  // border-color: #F5A22C!important;
  background-color: white;
  // border: 1px solid #F5A22C!important;
  color: black !important;
}

.common-btn-disabled {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  padding: 0.5rem !important;
  font-size: 18px !important;
  border-radius: 25px !important;
  background-color: rgba(0, 0, 0, 0.26);
  color: rgba(0, 0, 0, 0.26);
}

.header-logo {
  margin: 0 auto;
  max-width: 78%;
}

.icon-inner,
svg {
  color: black !important;
}

.m-0 {
  margin: 0px !important;
}

/*Alert Successfully(Sukrut02/10/2019)*/

/*
.alert-wrapper {
  position: absolute;
  z-index: 10004;
  .alert-head {
    &::before {
      content: '';
      background: url("assets/checked.svg") no-repeat;
      background-size: cover;
      height: 70px;
      width: 70px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20004;
    }
  }
}

.alert-message {
  margin-top: 60px!important;
  padding-top: 10px!important;
  margin-left:20PX!important;
  ;
  font-size: 16px!important;
  color: var(--ion-color-primary);
}

.alertDanger{
  button{
    color: var(--ion-color-primary);
    
    font-size: 16px!important;
  }
}
*/

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

.mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}

.ion-color-fab {
  --ion-color-base: var(--ion-color-new-primary) !important;
  --ion-color-base-rgb: var(--ion-color-new-primary) !important;
  --ion-color-contrast-rgb: var(--ion-color-new-primary) !important;
  --ion-color-shade: var(--ion-color-new-primary) !important;
  --ion-color-tint: var(--ion-color-new-primary) !important;
}

ion-modal.select-modal {
  // // Extra small devices (portrait phones, less than 576px)
  // @media (max-width: 575.98px) {
  //   --height: 42%;
  //   --width: 90%;
  // }
  --border-radius: 28px;

  @media screen and (min-width: 360px), screen and (max-height: 700px) {
    --height: 39%;
    --width: 90%;
  }

  @media screen and (min-width: 390px), screen and (min-height: 800px) {
    --height: 32%;
    --width: 90%;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    --height: 42%;
    --width: 90%;
  }
}
ion-modal.cp-confirm-modal {
  --height: 35%;
  --width: 90%;
  --border-radius: 32px !important;
}
