.circle {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px var(--ion-color-light_grey);
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  margin: auto;
  margin-top: 20%;
  background-color: var(--ion-color-light_grey);
}
.title {
  padding-top: 5px;
  alignment: center;
  color: var(--ion-color-medium_grey);

  margin-top: 5%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.circlenew {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  margin: auto;
  margin-top: 20%;
  background-color: var(--ion-color-secondary);
}
.titlenew {
  padding-top: 5px;
  alignment: center;
  color: var(--ion-color-primary);

  margin-top: 5%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.titletextmessage {
  padding: 2px;
  alignment: center;
  color: var(--ion-color-primary);

  margin-right: 3%;
  justify-content: center;
  align-items: baseline;
  font-size: 14px;
}

.titletextmessage2 {
  padding: 2px;
  alignment: center;
  color: var(--ion-color-primary);

  margin-right: 3%;
  justify-content: center;
  align-items: baseline;
  font-size: 16px;
}
.titletextmessage3 {
  padding: 2px;
  alignment: center;
  color: var(--ion-color-primary);

  margin-right: 3%;
  justify-content: center;
  align-items: baseline;
  font-size: 16px;
}
.toolbar-text {
  color: var(--ion-color-secondary);

  font-size: medium;
  background-color: var(--ion-color-primary);
}
.toolbar-title {
  color: var(--ion-color-secondary);

  font-size: 20px;
}
.buttons {
  margin-top: 10%;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: large;
  border-radius: 25px;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-secondary);
  font-size: 16px !important;
}
.appbar {
  width: 100%;
  min-height: 3.5rem;
}
.appbar__bottom {
  position: fixed;
  bottom: 0;
  //position: relative;
  display: grid;
  width: 100%;
  color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.appbar__bottom--normal {
  display: flex;
  align-items: center;
  background-color: var(--ion-color-main-white);
}

.appbar__bottom--normal a {
  will-change: color;
  transition: color 170ms ease-out;
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0;
  color: var(--ion-color-primary);
  font-size: 0;
  text-decoration: none;
}
.appbar__bottom--normal a:hover,
.appbar__bottom--normal a:focus {
  color: var(--ion-color-primary);
}
.appbar__bottom--spacer {
  background-color: var(--primary);
}
.appbar__bottom--cutout {
  width: 4.5rem;
  max-width: 4.5rem;
  background: var(--ion-color-main-white);
  -webkit-clip-path: url(#appbar__cutout);
  clip-path: url(#appbar__cutout);
}
.appbar__bottom--fab {
  will-change: box-shadow, transform;
  -webkit-transform: box-shadow 170ms ease-out;
  transform: box-shadow 170ms ease-out;
  position: absolute;
  top: -50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-secondary);
  border-radius: 50%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99999;
}
.appbar__bottom--fab-primary {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-secondary);
  img {
    width: 30px;
  }
}
.appbar__bottom--fab-end {
  left: auto;
  right: 1rem;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.appbar__bottom--fab:hover,
.appbar__bottom--fab:focus {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.appbar__bottom--no-cut {
  grid-template: auto / 1fr 1fr;
}
.appbar__bottom--center-cut {
}
.appbar__bottom--end-no-cut {
  grid-template: auto / 1fr;
}
.appbar__bottom--end-cut {
  grid-template: auto/1fr 4.5rem 0.5rem;
}
.appbar__bottom--no-fab {
  grid-template: auto / 1fr 1fr;
}
.appbar a {
  text-decoration: none;
}
.fabmargin {
  margin-right: 2% !important;
  margin-bottom: 20% !important;
}
//bottom icon
.badgeDiv {
  position: relative;
  display: inline-block;
  width: 40px;
  img {
    width: 35px;
    height: 35px;
  }
  .p2 {
    width: 35px;
    height: 35px;
  }
  .badge {
    position: absolute;
    right: 0px;
    padding: 8px 5px;
    border-radius: 50%;
    background: var(--ion-color-primary);
    color: #fff;
    border: 1px solid #fff;
    font-size: 10px;
    width: 19px;
    height: 19px;
    line-height: 0;
    text-align: center;
  }
}
.flex--right {
  justify-content: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
}
.gradient_background {
  background: conic-gradient(#fff);
}
