<form [formGroup]="myForm">
    <div *ngFor="let headeritem of jsonFormData.header; let i1 = index">
        <p class="text-center">{{headeritem.headernm}}</p>
        <div *ngFor="let controls of headeritem.controls let i=index">

            <button style="display: none;" (click)="validate2()" nzSize="default" nzShape="round">
            </button>

            <div *ngIf="controls.inputtype==2">
                <mat-form-field appearance="outline" class="inputtextfield">
                    <mat-label>{{controls.placeholder}}</mat-label>
                    <input *ngIf="controls.isButton" [formControlName]="controls.name" [placeholder]="controls.placeholder" matInput [type]="controls.defaultval?controls.type:controls.type_2" class="inputtextfield">
                    <input *ngIf="!controls.isButton" [formControlName]="controls.name" [placeholder]="controls.placeholder" matInput [type]="controls.type" class="inputtextfield">
                    <button *ngIf="controls.isButton" mat-button style="color: var(--ion-color-medium-tint)" (click)="toggleBtn(controls.name,controls.defaultval)" matSuffix mat-icon-button>
                        <mat-icon>
                            <ion-icon color="dark" [name]="controls.defaultval?controls.icon:controls.icontoggle"></ion-icon>
                        </mat-icon>
                    </button>
                    <button mat-button *ngIf="!controls.isButton" style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button>
                        <mat-icon>
                            <ion-icon color="dark" [name]="controls.icon"></ion-icon>
                        </mat-icon>
                    </button>
                    <mat-hint>
                        <div *ngIf="myForm.controls[controls.name].hasError('required') && myForm.controls[controls.name].dirty" class="error">
                            {{controls.requiredError}}
                        </div>
                        <div *ngIf="myForm.controls[controls.name].hasError('pattern') && myForm.controls[controls.name].dirty" class="error">
                            {{controls.patternError}}
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>

            <hr *ngIf="controls.inputtype==10">
            <mat-form-field appearance="outline" class="pb-3" *ngIf="controls.inputtype==10">
                <mat-label>{{controls.label}}</mat-label>
                <mat-select [formControlName]="controls.name">
                    <!-- user_id -->
                    <mat-option *ngFor="let singlesalesperson of salePersonList" [value]="singlesalesperson.person_id">
                        {{singlesalesperson.full_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="controls.inputtype==8">
                <mat-form-field appearance="outline" class="inputtextfield">
                    <mat-label>{{controls.placeholder}}</mat-label>
                    <input [formControlName]="controls.name" [placeholder]="controls.placeholder" matInput [type]="controls.type" class="inputtextfield">
                    <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button>
                        <mat-icon>
                            <ion-icon color="dark" [name]="controls.icon"></ion-icon>
                        </mat-icon>
                    </button>
                </mat-form-field>
                <p class="d-flex justify-content-end verify">
                    <a (click)="otpVerification()">Verify</a>
                </p>
            </div>
            <div *ngIf="controls.inputtype==9">
                <mat-form-field appearance="outline" class="inputtextfield">
                    <mat-label>{{controls.placeholder}}</mat-label>
                    <input [formControlName]="controls.name" [placeholder]="controls.placeholder" matInput [type]="controls.type" class="inputtextfield">
                    <button mat-button style="color: var(--ion-color-medium-tint)" matSuffix mat-icon-button>
                        <mat-icon>
                            <ion-icon color="dark" [name]="controls.icon"></ion-icon>
                        </mat-icon>
                    </button>
                </mat-form-field>
                <p class="d-flex justify-content-end verify">
                    <a (click)="validateCards(controls.name)">Verify</a>
                </p>
            </div>
            <div *ngIf="controls.inputtype==4">
                <mat-radio-group aria-label="Select an option" (change)="changeOrgz($event)" [formControlName]="controls.name" class="d-flex justify-content-around pt-4 pb-4">
                    <mat-radio-button [value]="menu.index" *ngFor="let menu of controls.sub_menus">{{menu.value}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controls.inputtype==6" [class]="controls.cssClass">
                <mat-checkbox [formControlName]="controls.name" (click)="openDialog()" style="margin-left: 5%!important;padding-top: 5%!important;margin-top: 10%!important;" class="newusertext">{{controls.label}}</mat-checkbox>
            </div>
            <div *ngIf="controls.inputtype==3" [class]="controls.cssClass">
                <button mat-button class="common-btn" (click)="submitData()" routerDirection="forward">{{controls.label}}</button><br>
            </div>
        </div>
        <ion-img *ngIf="i1!=2" class="pt-2" src="assets/channelPartner_Icons/vjd_Logos/register.png"></ion-img>
    </div>
</form>
<!-- <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input> -->